.not-select {
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-uer-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Likely future */
}

input[type=color] {
  height: 19px;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "SegoeUIRegular", sans-serif;
  font-weight: normal;
  overflow: hidden;
  @extend .not-select;
}

#wrap {
  width: 100%;
  height: 100%;
}

#sidebar-left {
  width: 50px;
  height: 100%;
  background: #625351;
  margin-right: -50px;
  float: left;
  .sidebar-title {
    width: 100%;
    height: 36px;
    background: #8fc842;
    h3 {
      font-size: 14px;
      margin: 0;
      padding: 10px 0 0 0;
      text-transform: uppercase;
      text-align: center;
    }
  }
  .button-group {
    button {
      width: 40px;
      height: 40px;
      margin: 5px auto;
      border: none;
      outline: none;
      display: block;
      cursor: pointer;
      z-index: 2;
      position: relative;
      border-radius: 2px;
      background: #625351 no-repeat;
      &:hover {
        background-color: #f9f5ee;
        outline: 1px solid #313131;
      }
      &.active {
        background-color: #F06B1D;
      }
    }
    .delimiter {
      height: 2px;
      width: 40px;
      background: #06A0E1;
      margin: 5px auto;
    }


    /**

    Чтобы добавить иконку для новой кнопки нужно поместить эту иконку в папку image/icons
    Затем ниже добавить строки:

    селектор кнопки {
      @include sprite-image($имяфайла);
      @include sprite-position($имяфайла);
    }

    В итоге эта иконка будет автоматически добавлена в спрайт.

    Размеры иконок:
    Для боковой панели 40x40
    Для верхней панели 30x30

    **/


    #draw-pol {
      @include sprite-image($polyline);
      @include sprite-position($polyline);
    }

    #draw-spline {
      @include sprite-image($spline);
      @include sprite-position($spline);
    }

    #merge-pol {
      @include sprite-image($mergePolyline);
      @include sprite-position($mergePolyline);
    }

    #merge-spline {
      @include sprite-image($mergeSpline);
      @include sprite-position($mergeSpline);
    }

    #translate-of-base-point {
      @include sprite-image($translate);
      @include sprite-position($translate);
    }

    #draw-ruler {
      @include sprite-image($ruler);
      @include sprite-position($ruler);
    }

    #draw-parallel-ruler {
      @include sprite-image($ruler-parallel);
      @include sprite-position($ruler-parallel);
    }

    #draw-rectangle {
      @include sprite-image($rect);
      @include sprite-position($rect);
    }

    #draw-circle {
      @include sprite-image($circle);
      @include sprite-position($circle);
    }
  }
}

.main-wrap {
  width: 100%;
  height: 100%;
  float: right;
  #main {
    height: 100%;
    background: dimgray;
    margin-left: 50px;
    header {
      width: 100%;
      height: 36px;
      background: #625351;
      position: relative;
      #layer-list {
        span {
          width: 30px;
          height: 30px;
          display: block;
          float: left;
          @include sprite-image($layers);
          @include sprite-position($layers);
          background-repeat: no-repeat;
          margin: 2px 0 0 0;
        }
      }
      #object-snap-button {
        span {
          width: 30px;
          height: 30px;
          display: block;
          float: left;
          background-repeat: no-repeat;
          margin: 2px 0 0 0;
          @include sprite-image($obj);
          @include sprite-position($obj);
        }
        &.selected {
          background: #1b9bff;
        }
      }
      #header-undo {
        span {
          width: 30px;
          height: 30px;
          display: block;
          float: left;
          background-repeat: no-repeat;
          margin: 2px 0 0 0;
          @include sprite-image($undo);
          @include sprite-position($undo);
        }
        &.selected {
          background: #1b9bff;
        }
      }
      #header-redo {
        span {
          width: 30px;
          height: 30px;
          display: block;
          float: left;
          background-repeat: no-repeat;
          margin: 2px 0 0 0;
          @include sprite-image($redo);
          @include sprite-position($redo);
        }
        &.selected {
          background: #1b9bff;
        }
      }
      .header-button:first-child {
        margin-left: 5px;
      }
      .header-button {
        height: 36px;
        outline: none;
        border: none;
        position: relative;
        z-index: 2;
        display: inline-block;
        color: #fff;
        background-color: #625351;
        cursor: pointer;
        padding-left: 5px;
        padding-right: 5px;
        @extend .not-select;
        &:hover {
          background-color: #f9f5ee;
        }
        p {
          margin: 5px 0 0 5px;
          padding: 0;
          display: inline-block;
        }
      }
      .show {
        display: block;
      }
    }
  }
}

%panel-layers-button {
  display: inline-block;
  cursor: pointer;
  border: none;
  outline: none;
  height: 24px;
  background: #444;
  color: #fff;
}

%input-popup-layer {
  border: none;
  outline: 0;
  background: #444;
  color: #fff;
  display: inline-block;
  width: 496px;
}

#layer {
  height: 34px;
  color: #fff;
  display: inline-block;
  padding: 6px 10px 0 10px;
  cursor: pointer;
  &:hover {
    background: #222222;
    color: #c4c4c4;
  }
}

.name-div {
  color: red;
}

#preferenceForRect {
  .content {
    .width {
      label {
        input {
          width: 200px;
        }
      }
    }
  }
}

.remodal section.width input {
  width: 98px;
}

.remodal section input[type=color] {
  width: 120px;
}

#selectAngle {
  width: 98px;
}

.remodal-dialog {
  position: relative;
}

.remodal {
  section button {
    outline: 0;
    border: 0;
    width: 100%;
    margin-top: 12px;
    cursor: pointer;
    &:hover {
      background: #1b9bff;
    }
  }
  select {
    width: 200px;
  }
}

[data-remodal-id="snapSettings"] {
  width: 300px;
}

[data-remodal-id="layer-manager"] {
  position: relative;
  width: 1000px;
  max-width: none;
  section {
    button {
      width: 200px;
      height: 21px;
    }
    overflow: scroll;
  }
  .set {
    input {
      width: 300px;
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}

#layer-list-panel {
  width: 100%;
  height: 300px;
  ul {
    margin: 0;
    list-style: none;
    padding: 0 0 0 16px;
    li {
      cursor: pointer;
      padding: 3px 2px 0 7px;
      margin-top: 2px;
      select {
        width: 80px;
      }
      .set-opacity {
        position: relative;
        top: -3px;
        height: 20px;
      }
      .set-type-line {
        height: 20px;
        position: relative;
        top: -3px;
        width: 80px;
      }
      input[type=number] {
        width: 32px;
        padding: 0 0 0 3px;
        position: relative;
        top: -3px;
        height: 16px;
      }
      input[type=checkbox] {
        display: inline-block;
        cursor: pointer;
      }
      .delete-layer {
        width: 13px;
        height: 13px;
        display: inline-block;
        @include sprite-image($delete-layer);
        @include sprite-position($delete-layer);
        background-repeat: no-repeat;
        cursor: pointer;
      }
      label {
        display: inline-block;
        margin: 0;
        cursor: pointer;
      }
      span {
        position: relative;
        top: -2px;
        cursor: pointer;
        &:hover {
          label {
            color: red;
          }
        }
      }
      input[type=color] {
        height: 16px;
        width: 15px;
        position: relative;
        top: -4px;
      }
      &.selected {
        background-color: #1b9bff;
      }
      &:hover {
        background-color: #C7C7C7;
      }
    }
  }
}