/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$circle-name: 'circle';
$circle-x: 40px;
$circle-y: 0px;
$circle-offset-x: -40px;
$circle-offset-y: 0px;
$circle-width: 40px;
$circle-height: 40px;
$circle-total-width: 150px;
$circle-total-height: 133px;
$circle-image: 'sprite.png';
$circle: (40px, 0px, -40px, 0px, 40px, 40px, 150px, 133px, 'sprite.png', 'circle', );
$delete-layer-name: 'delete-layer';
$delete-layer-x: 0px;
$delete-layer-y: 120px;
$delete-layer-offset-x: 0px;
$delete-layer-offset-y: -120px;
$delete-layer-width: 13px;
$delete-layer-height: 13px;
$delete-layer-total-width: 150px;
$delete-layer-total-height: 133px;
$delete-layer-image: 'sprite.png';
$delete-layer: (0px, 120px, 0px, -120px, 13px, 13px, 150px, 133px, 'sprite.png', 'delete-layer', );
$layers-name: 'layers';
$layers-x: 120px;
$layers-y: 60px;
$layers-offset-x: -120px;
$layers-offset-y: -60px;
$layers-width: 30px;
$layers-height: 30px;
$layers-total-width: 150px;
$layers-total-height: 133px;
$layers-image: 'sprite.png';
$layers: (120px, 60px, -120px, -60px, 30px, 30px, 150px, 133px, 'sprite.png', 'layers', );
$mergePolyline-name: 'mergePolyline';
$mergePolyline-x: 40px;
$mergePolyline-y: 40px;
$mergePolyline-offset-x: -40px;
$mergePolyline-offset-y: -40px;
$mergePolyline-width: 40px;
$mergePolyline-height: 40px;
$mergePolyline-total-width: 150px;
$mergePolyline-total-height: 133px;
$mergePolyline-image: 'sprite.png';
$mergePolyline: (40px, 40px, -40px, -40px, 40px, 40px, 150px, 133px, 'sprite.png', 'mergePolyline', );
$mergeSpline-name: 'mergeSpline';
$mergeSpline-x: 80px;
$mergeSpline-y: 0px;
$mergeSpline-offset-x: -80px;
$mergeSpline-offset-y: 0px;
$mergeSpline-width: 40px;
$mergeSpline-height: 40px;
$mergeSpline-total-width: 150px;
$mergeSpline-total-height: 133px;
$mergeSpline-image: 'sprite.png';
$mergeSpline: (80px, 0px, -80px, 0px, 40px, 40px, 150px, 133px, 'sprite.png', 'mergeSpline', );
$obj-name: 'obj';
$obj-x: 120px;
$obj-y: 30px;
$obj-offset-x: -120px;
$obj-offset-y: -30px;
$obj-width: 30px;
$obj-height: 30px;
$obj-total-width: 150px;
$obj-total-height: 133px;
$obj-image: 'sprite.png';
$obj: (120px, 30px, -120px, -30px, 30px, 30px, 150px, 133px, 'sprite.png', 'obj', );
$polyline-name: 'polyline';
$polyline-x: 0px;
$polyline-y: 80px;
$polyline-offset-x: 0px;
$polyline-offset-y: -80px;
$polyline-width: 40px;
$polyline-height: 40px;
$polyline-total-width: 150px;
$polyline-total-height: 133px;
$polyline-image: 'sprite.png';
$polyline: (0px, 80px, 0px, -80px, 40px, 40px, 150px, 133px, 'sprite.png', 'polyline', );
$rect-name: 'rect';
$rect-x: 0px;
$rect-y: 0px;
$rect-offset-x: 0px;
$rect-offset-y: 0px;
$rect-width: 40px;
$rect-height: 40px;
$rect-total-width: 150px;
$rect-total-height: 133px;
$rect-image: 'sprite.png';
$rect: (0px, 0px, 0px, 0px, 40px, 40px, 150px, 133px, 'sprite.png', 'rect', );
$redo-name: 'redo';
$redo-x: 120px;
$redo-y: 0px;
$redo-offset-x: -120px;
$redo-offset-y: 0px;
$redo-width: 30px;
$redo-height: 30px;
$redo-total-width: 150px;
$redo-total-height: 133px;
$redo-image: 'sprite.png';
$redo: (120px, 0px, -120px, 0px, 30px, 30px, 150px, 133px, 'sprite.png', 'redo', );
$ruler-parallel-name: 'ruler-parallel';
$ruler-parallel-x: 80px;
$ruler-parallel-y: 80px;
$ruler-parallel-offset-x: -80px;
$ruler-parallel-offset-y: -80px;
$ruler-parallel-width: 40px;
$ruler-parallel-height: 40px;
$ruler-parallel-total-width: 150px;
$ruler-parallel-total-height: 133px;
$ruler-parallel-image: 'sprite.png';
$ruler-parallel: (80px, 80px, -80px, -80px, 40px, 40px, 150px, 133px, 'sprite.png', 'ruler-parallel', );
$ruler-name: 'ruler';
$ruler-x: 40px;
$ruler-y: 80px;
$ruler-offset-x: -40px;
$ruler-offset-y: -80px;
$ruler-width: 40px;
$ruler-height: 40px;
$ruler-total-width: 150px;
$ruler-total-height: 133px;
$ruler-image: 'sprite.png';
$ruler: (40px, 80px, -40px, -80px, 40px, 40px, 150px, 133px, 'sprite.png', 'ruler', );
$spline-name: 'spline';
$spline-x: 80px;
$spline-y: 40px;
$spline-offset-x: -80px;
$spline-offset-y: -40px;
$spline-width: 40px;
$spline-height: 40px;
$spline-total-width: 150px;
$spline-total-height: 133px;
$spline-image: 'sprite.png';
$spline: (80px, 40px, -80px, -40px, 40px, 40px, 150px, 133px, 'sprite.png', 'spline', );
$translate-name: 'translate';
$translate-x: 0px;
$translate-y: 40px;
$translate-offset-x: 0px;
$translate-offset-y: -40px;
$translate-width: 40px;
$translate-height: 40px;
$translate-total-width: 150px;
$translate-total-height: 133px;
$translate-image: 'sprite.png';
$translate: (0px, 40px, 0px, -40px, 40px, 40px, 150px, 133px, 'sprite.png', 'translate', );
$undo-name: 'undo';
$undo-x: 120px;
$undo-y: 90px;
$undo-offset-x: -120px;
$undo-offset-y: -90px;
$undo-width: 30px;
$undo-height: 30px;
$undo-total-width: 150px;
$undo-total-height: 133px;
$undo-image: 'sprite.png';
$undo: (120px, 90px, -120px, -90px, 30px, 30px, 150px, 133px, 'sprite.png', 'undo', );
$spritesheet-width: 150px;
$spritesheet-height: 133px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($circle, $delete-layer, $layers, $mergePolyline, $mergeSpline, $obj, $polyline, $rect, $redo, $ruler-parallel, $ruler, $spline, $translate, $undo, );
$spritesheet: (150px, 133px, 'sprite.png', $spritesheet-sprites, );


