#svg {
  width: 100%;
  height: 100%;
  float: right;
  background: #212830;
  display: block;
  position: relative;
}

svg {
  width: 100%;
  height: 99.5%;
}

polygon {

}

text {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge */
  user-select: none;
}

line.grid {
  fill: #d0d0d0;
  stroke-width: 0.2;
  stroke: #d0d0d0;
  opacity: 1;
}

rect {
  opacity: 0;
}

circle {

}

circle.select {
  fill: #f00;
}

marker#mark-left path {
  fill: rgb(255, 255, 255);
}

marker#mark path {
  fill: rgb(255, 255, 255);
}

marker#mark-left-hover path {
  fill: #DFCF00;
}

marker#mark-hover path {
  fill: #DFCF00;
}

path {
  fill: none;
  stroke-linecap: square;
  stroke-linejoin: round;
}

path.select {
  stroke: #f00;
}

path#base {
  stroke-dasharray: 5, 5;
}

circle#base {
  cursor: crosshair;
}

path.hover {
  stroke: #f00;
}

path.line {
  stroke: #6c6c6c;
}

text {
  cursor: pointer;
}