<!DOCTYPE html>
<html lang="ru" ng-app="GcadApp">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="dist/favicon.ico" type="image/x-icon">
    <title>GCAD</title>
    <link rel="stylesheet" href="dist/css/fonts.css">
    <link rel="stylesheet" href="dist/css/style.min.css">
</head>
<body>
<div id="wrap" class="remodal-bg">
    <div id="sidebar-left">
        <div class="sidebar-title">
            <h3>Gcad</h3>
        </div>
        <div class="button-group">
            <button id="draw-pol"></button>
            <button id="draw-spline"></button>
            <button id="merge-pol"></button>
            <button id="merge-spline"></button>
            <div class="delimiter"></div>
            <button id="translate-of-base-point"></button>
            <button id="draw-ruler"></button>
            <button id="draw-parallel-ruler"></button>
            <button id="draw-rectangle"></button>
            <button id="draw-circle"></button>
            <div class="delimiter"></div>
            <button id="getStore">store</button>
            <button id="getSelected">sel</button>
            <button id="demo">demo</button>
            <button id="getSvgDom">dom</button>
            <button id="get-snap-object">snap</button>
        </div>
    </div>
    <div class="main-wrap">
        <div id="main">
            <header>
                <div>
                    <div class="header-button" id="layer-list" ng-controller="LayersCtrl" ng-click="onOpen()">
                        <span></span>
                        <!--<p>Слои</p>-->
                    </div>

                    <div class="header-button" id="object-snap-button" ng-class="objectSnap ? 'selected' : ''">
                        <span></span>
                        <!--<p>Объектная привязка</p>-->
                    </div>

                    <!--<div class="header-button" id="header-undo">
                        <span></span>
                    </div>

                    <div class="header-button" id="header-redo">
                        <span></span>
                    </div>-->
                </div>
            </header>
            <div id="svg"></div>
            <div id="sidebar-right"></div>
            <div id="content"></div>
        </div>
    </div>
</div>

<!--Template-->

<div data-remodal-id="layer-manager" ng-controller="LayersCtrl">
    <headModal>
        <h3>Управление слоями</h3>
    </headModal>
    <button data-remodal-action="close" class="remodal-close"></button>

    <div class="content">
        <section>
            <div id="layer-list-panel">
                <ul>
                    <li ng-repeat="layer in layersList track by $index"
                        ng-click="selectLayer(layer.id, $event)"
                        ng-class="selectedLayer.id === layer.id ? 'selected' : '' "
                        ng-dblclick="setDefaultLayer(layer.id)"
                        data-layer-id="{{layer.id}}">

                        <!--ng-class="selectedLayer.id === layer.id ? 'selected' : '' "-->


                        <div class="delete-layer"
                             ng-click="deleteLayer(layer.id)"
                             data-idLayer={{layer.id}}>
                        </div>

                        <input type="radio"
                               ng-model="$parent.defaultLayerId"
                               value={{layer.id}}
                               ng-click="setDefaultLayer(layer.id)">

                        <input type="checkbox"
                               ng-model="layer.visible"
                               ng-change="changeLayer(layer.id)"/>

                        <input type="color" value="#ffffff"
                               ng-model="settingsOfLayer[$index].color"
                               ng-change="changeColorOfLayer(layer.id, $index)">

                        <select class="set-opacity"
                                ng-model="settingsOfLayer[$index].opacity"
                                ng-change="changeOpacityOfLayer(layer.id, $index)">
                            <option value="1">1</option>
                            <option value="0.9">0.9</option>
                            <option value="0.8">0.8</option>
                            <option value="0.7">0.7</option>
                            <option value="0.6">0.6</option>
                            <option value="0.5">0.5</option>
                            <option value="0.4">0.4</option>
                            <option value="0.3">0.3</option>
                            <option value="0.2">0.2</option>
                            <option value="0.1">0.1</option>
                        </select>

                        <input type="number" min="1"
                               ng-model="settingsOfLayer[$index].widthOfLines"
                               ng-change="changeWidthOfLayer(layer.id, $index)">

                        <select class="set-type-line"
                                ng-model="settingsOfLayer[$index].typeOfLines"
                                ng-change="changeStrokeDasharray(layer.id, $index)">
                            <option ng-repeat="option in typesOfLine">{{option.name}}</option>
                        </select>

                        <span>
                            {{layer.name}}
                        </span>
                    </li>
                </ul>
            </div>
        </section>
        <section class="set">
            <div class="add-layer">
                <button ng-click="addLayer()">Add</button>
                <input type="text" placeholder="name layer..." ng-model="newNameOfLayer"/>
            </div>
            <div class="settings">
                <button ng-click="renameLayer(selectedLayerId, selectedLayerName)">Rename layer</button>
                <input type="text" ng-model="selectedLayerName">
            </div>
            <div class="grouping-layer">
                <button ng-click="groupingLayers()">Grouping layers</button>
            </div>
        </section>
    </div>
</div>

<div data-remodal-id="preferenceForPolylinePoint">
    <headModal>
        <h3>Свойства</h3>
    </headModal>
    <button data-remodal-action="close" class="remodal-close"></button>

    <div class="content">
        <h4>Координаты</h4>
        <section>
            <label>X: <input type="text" name="pointX"/></label>
            <label>Y: <input type="text" name="pointY"/></label>
        </section>
    </div>
</div>

<div data-remodal-id="preferenceForPolyline">
    <headModal>
        <h3>Свойства</h3>
    </headModal>
    <button data-remodal-action="close" class="remodal-close"></button>

    <div class="content">
        <section>
            <label>
                Слой
                <select name="" class="select-layers">

                </select>
            </label>
        </section>
    </div>
</div>

<div data-remodal-id="preferenceForSplinePoint">
    <headModal>
        <h3>Свойства</h3>
    </headModal>
    <button data-remodal-action="close" class="remodal-close"></button>

    <div class="content">
        <h4>Координаты</h4>
        <section>
            <label>X: <input type="text" name="pointX"/></label>
            <label>Y: <input type="text" name="pointY"/></label>
        </section>
    </div>
</div>

<div data-remodal-id="preferenceForSpline">
    <headModal>
        <h3>Свойства</h3>
    </headModal>
    <button data-remodal-action="close" class="remodal-close"></button>

    <div class="content">
        <section>
            <label>
                Слой
                <select name="" class="select-layers">

                </select>
            </label>
        </section>
    </div>
</div>

<div data-remodal-id="preferenceForRuler">
    <headModal>
        <h3>Свойства</h3>
    </headModal>
    <button data-remodal-action="close" class="remodal-close"></button>

    <div class="content">
        <section>
            <label>
                Слой
                <select name="" class="select-layers">

                </select>
            </label>
        </section>
    </div>
</div>

<div data-remodal-id="preferenceForRect">
    <headModal>
        <h3>Свойства</h3>
    </headModal>
    <button data-remodal-action="close" class="remodal-close"></button>

    <div class="content">
        <section>
            <label for="selectAngle">
                Вершина:
                <select name="" id="selectAngle">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            </label>

            <label>X: <input type="text" name="pointX"/></label>
            <label>Y: <input type="text" name="pointY"/></label>
        </section>
        <section>
            <label>
                Слой
                <select name="" class="select-layers">

                </select>
            </label>
        </section>
        <section>
            <label>
                Цвет:
                <input type="color">
            </label>
        </section>
        <section class="width">
            <label>Ширина: <input type="text" name="width"/></label>
        </section>
    </div>
</div>

<div data-remodal-id="preferenceForCircle">
    <headModal>
        <h3>Свойства</h3>
    </headModal>
    <button data-remodal-action="close" class="remodal-close"></button>

    <div class="content">
        <h4>Координаты центра</h4>
        <section>
            <label>X: <input type="text" name="pointX"/></label>
            <label>Y: <input type="text" name="pointY"/></label>
        </section>
        <section>
            <label>
                Слой
                <select name="" class="select-layers">

                </select>
            </label>
        </section>
        <section>
            <label>
                Цвет:
                <input type="color">
            </label>
        </section>
        <section class="width">
            <label>Ширина: <input type="text" name="width"/></label>
        </section>
    </div>
</div>

<div data-remodal-id="preferenceForSeveralObjects">
    <headModal>
        <h3>Свойства</h3>
    </headModal>
    <button data-remodal-action="close" class="remodal-close"></button>

    <div class="content">
        <section>
            <label>
                Слой
                <select name="" class="select-layers">

                </select>
            </label>
        </section>
    </div>
</div>

<div data-remodal-id="chooseLayerForGrouping" class="remodal-dialog">
    <headModal>
        <h3>Группировка</h3>
    </headModal>
    <button data-remodal-action="close" class="remodal-close"></button>

    <div class="content">
        <section>
            <label>
                Слой
                <select name="" class="layers">

                </select>
            </label>
            <button id="apply-grouping">Выбрать</button>
        </section>
    </div>
</div>

<div data-remodal-id="copyObjectInLayer" class="remodal-dialog">
    <headModal>
        <h3>Копировать</h3>
    </headModal>
    <button data-remodal-action="close" class="remodal-close"></button>

    <div class="content">
        <section>
            <label>
                Слой
                <select name="" class="layers">

                </select>
            </label>
            <button id="apply-copyInLayer">OK</button>
        </section>
    </div>
</div>

<div data-remodal-id="snapSettings" class="remodal-dialog" ng-controller="ModalCtrl">
    <headModal>
        <h3>Привязка</h3>
    </headModal>
    <button data-remodal-action="close" class="remodal-close"></button>

    <div class="content">
        <section>
            <label>К точкам<input ng-model="snapPoint" type="checkbox" ng-change="changeSnapPoint()"></label>
            <label>К отрезкам<input ng-model="snapLine" type="checkbox" ng-change="changeSnapLine()"></label>
            <button id="apply-snapSettings">OK</button>
        </section>
    </div>
</div>

<!--Template EDN-->

<script type="text/javascript" src="dist/js/lib.min.js"></script>
<script type="text/javascript" src="dist/js/developer.js"></script>

</body>
</html>